extends layout

block content

	each val in data
		.row
			.col-6
				.card.blue-grey.lighten-2.container
					.card-content.white-text.z-depth-5
						nav
							ul
								li
									a(href='delete?name='+val.name) Delete
								p Name :#{val.name}
								p PhoneNo :#{val.phoneNo}
